/*/Users/smcueto/documents/techtonica-projects/recipe-page/static/css/styles.css */
body {
    background-color: #ffe680;
    color: #cc4400;
    font-family: 'Quattrocento Sans', sans-serif;
}

h1 {
  color: #b33c00;
  font-family:'Shrikhand', cursive;
  font-size: 60px;
}
.descriptionParagraphText {
  width: 600px;
}
.left {
  width: 600px;
  float: left;
}
.right {
  width: 600px;
  float: right;
  margin-left: 30px;
}
h2 {
  color: #b33c00;
  font-family:'Great Vibes', cursive;
  font-size: 40px;
  text-align: center;
}
table {
  width: 600px;
  border-style: solid;
  text-align: center;
}
.picturesOfFood {
  width: 600px;
}
img {
    border-radius: 50px;
}
.button-links {
  margin-bottom: 50px;
  text-align: center;
}
